name: GitHub Task List Checker
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
jobs:
  task-list-checker:
    outputs:
      output: ${{ steps.step1.outputs }}
    runs-on: ubuntu-latest
    steps:
      - id: step1
        name: Check for incomplete task list items
        uses: Shopify/task-list-checker@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  notify:
    needs: task-list-checker
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{toJSON(needs.task-list-checker.outputs)}}
      - name: PR comment with reactions
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            Hello world ! :wave:
          reactions: eyes, rocket
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
